# Include license and readme
include LICENSE.asc
include README.asc
include CHANGELOG.md
include SECURITY.asc
include requirements.txt

# Include type stubs
recursive-include src/rag *.pyi

# Include package data
recursive-include src/rag *.json *.yaml *.yml

# Include harper config
recursive-include .harper *
